.form{
    margin: 20px;
    border: 5px dotted lightslategrey ;
}

.form form{
    margin: 10px;
}
.button{
    display: inline-block;
    margin: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}
.label{
    display: inline-block;
    width: 50%;
    float: left;
    margin: 10px;
    padding: 1px;
}
.markdown{
    width: 100%;
    background-color: lightgray;
}